
// colors palette
$main-color: #232536;
$priamry-color: #ffd050;
$secondary-color: #592ea9;
$third-color: #4c4c4c;
$fourth-color: #6d6e76;
$btn-colorHover:#EDC14A;

// btn & btn hover
@mixin btn{
    
}