@import "../../sass/variables.scss";

.header {
  color: $primary-color;
  
}
.headerlogo {
    padding-left: 80px;
  }
.btn {
  margin-top: 12px;
  margin-bottom: 12px;
  @include btn;
  background-color: white;

  color: $main-color;
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.appbar-links {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
