@import "../../sass/variables.scss";
.hero {
  background-image: url("./images/hero.png");
  background-position: center;
  min-width: 100%;
  min-height: calc(100vh + 80px);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      80.99% 71.93% at 74.58% 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
    z-index: 0;
  }
  .customContainer {
    @include customContainer;
  }
  .textContainer {
    position: absolute;
    z-index: 1;
    width: 804px;
    height: 400px;
    top: 208px;
    color: white;

    .firstText {
      color: #fff;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding-bottom: 24px;
    }
    .secondtText {
      width: 803px;
      color: $hero-color;
      font-family: Sen;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -2px;
      padding-bottom: 24px;
    }
    .data {
      color: $hero-color;

      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      padding-bottom: 24px;
      & span {
        color: $btnColor-hover;
      }
    }
    .thirdText {
      width: 599px;
      color: $hero-color;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      padding-bottom: 24px;
    }
    .btn {
      font-family: Sen;
      background-color: $primary-color;
      &:hover {
        background-color: $btnColor-hover;
      }
    }
  }
  // responsive

  @media (max-width: 994px) {
    .textContainer {
      position: absolute;
      z-index: 1;
      width: 804px;
      height: 400px;
      top: 208px;
      color: white;

      .firstText {
        color: #fff;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding-bottom: 24px;
      }
      .secondtText {
        width: 790px;
        color: $hero-color;
        font-family: Sen;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2px;
        padding-bottom: 24px;
      }
      .data {
        color: $hero-color;

        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 24px;
        // & span {
        //   color: $btnColor-hover;
        // }
      }
      .thirdText {
        width: 599px;
        color: $hero-color;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 24px;
      }
      .btn {
        font-family: Sen;
        background-color: $primary-color;
        &:hover {
          background-color: $btnColor-hover;
        }
      }
    }
  }
  @media (max-width: 740px) {
    .textContainer {
      position: absolute;
      z-index: 1;
      width: 600px;
      height: 400px;
      top: 208px;
      color: white;

      .firstText {
        color: #fff;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding-bottom: 24px;
        width: auto;
      }
      .secondtText {
        width: 636px;
        color: $hero-color;
        font-family: Sen;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2px;
        padding-bottom: 24px;
        width: auto;
      }
      .data {
        color: $hero-color;

        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 24px;
      }
      .thirdText {
        width: 599px;
        color: $hero-color;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 24px;
      }
      .btn {
        font-family: Sen;
        background-color: $primary-color;
        &:hover {
          background-color: $btnColor-hover;
        }
      }
    }
  }
  @media (max-width: 657px) {
    .textContainer {
      position: absolute;
      z-index: 1;
      width: auto;
      height: auto;
      top: 208px;
      color: white;

      .firstText {
        color: #fff;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding-bottom: 24px;
        width: auto;
      }
      .secondtText {
        width: 500px;
        color: $hero-color;
        font-family: Sen;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2px;
        padding-bottom: 24px;
        width: auto;
      }
      .data {
        color: $hero-color;

        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 24px;
        & span {
          color: $btnColor-hover;
        }
      }
      .thirdText {
        width: 500px;
        color: $hero-color;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 24px;
      }
      .btn {
        font-family: Sen;
        background-color: $primary-color;
        &:hover {
          background-color: $btnColor-hover;
        }
      }
    }
  }
  @media (max-width: 600px) {
    .textContainer {
      position: absolute;
      z-index: 1;
      width: auto;
      height: auto;
      top: 208px;
      color: white;

      .firstText {
        color: #fff;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding-bottom: 24px;
        width: auto;
      }
      .secondtText {
        width: 400px;
        color: $hero-color;
        font-family: Sen;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2px;
        padding-bottom: 24px;
        width: auto;
      }
      .data {
        color: $hero-color;

        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 24px;
        & span {
          color: $btnColor-hover;
        }
      }
      .thirdText {
        width: 450px;
        color: $hero-color;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 24px;
      }
      .btn {
        font-family: Sen;
        background-color: $primary-color;
        &:hover {
          background-color: $btnColor-hover;
        }
      }
    }
  }
  @media (max-width: 550px) {
    .textContainer {
      position: absolute;
      z-index: 1;
      width: auto;
      height: auto;
      top: 208px;
      color: white;

      .firstText {
        color: #fff;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding-bottom: 24px;
        width: auto;
      }
      .secondtText {
        width: 300px;
        color: $hero-color;
        font-family: Sen;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2px;
        padding-bottom: 24px;
        width: auto;
      }
      .data {
        color: $hero-color;

        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 24px;
        & span {
          color: $btnColor-hover;
        }
      }
      .thirdText {
        width: 300px;
        color: $hero-color;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 24px;
      }
      .btn {
        font-family: Sen;
        background-color: $primary-color;
        &:hover {
          background-color: $btnColor-hover;
        }
      }
    }
  }
}
